@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
}

.prose .anchor {
  @apply no-underline w-fit;

  margin-left: -1.1em;
  padding-right: 0.5em;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:before {
  @apply text-neutral-300 dark:text-neutral-700 invisible;
  content: "# ";

  pointer-events: none;
}

.prose *:hover > .anchor:before {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-800;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2 w-fit;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2 w-fit;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2 w-fit;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2 w-fit;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}